<div class="panel <%= splitJoin(className) %>">
    <div class="panel-heading">
        <h5 class="panel-heading">
            <%= title %>
        </h5>
    </div>
    <div class="panel-body">
        <%= msg %>
    </div>
    <% if(!isEmptyArr(btns)){ %>
    <div class="panel-footer">
        <%
            var l = btns.length;
        for(var i = 0;i < l;i++){
            var btn = btns[i];
        %>
        <div class="col-md-<%= 12 / l %>">
            <div class="btn btn-default <%= splitJoin(btn.className) %>"
                    <%= attr("id", btn.id) %>
                    <%= attr("name", btn.name) %>
                    <%= attr("value", btn.value) %>
                    >
                <%= btn.text %>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
</div>