<%
var chapterList = chapterList || [];
var chapterLength = chapterList.length;
%>
<ul class="gxb-hide">
    <%
    for(var i = 0;i < chapterLength;i++){
        var chapter = chapterList[i];
    %>
    <li>
        <h5>
            <i class="gxb-icon-begin">
            </i>
            <%= chapter['contentType'] %>
            <a class="chapter-info" href="javascript:void(0)"
               unit_id="<%= chapter['unitId'] %>"
               chapter_id="<%= chapter['chapterId'] %>"
               content_id="<%= chapter['contentId'] %>"
               content_type="<%= chapter['contentType'] %>"
                    >
                <%= chapter['title'] %>
            </a>
        </h5>
    </li>
    <% } %>
</ul>
