<%
var assignment = assignment || {};
var submission = submission || {};
%>

<div class="quiz-item gxb-hide">
    <div class="quiz-info-wap">
        <div class="quiz-info">
            <div class="quiz-state">
                <ul class="state-info">
                    <li>
                        <i class="gxb-icon-step-begin"></i>
                        <span>未开始</span>
                    </li>
                    <li>
                        <i class="gxb-icon-step-ing"></i>
                        <span>提交中</span>
                    </li>
                    <li>
                        <i class="gxb-icon-step-ing"></i>
                        <span>批改中</span>
                    </li>
                    <li class="assignment-li">
                        <i class="gxb-icon-step"></i>
                    </li>
                    <li class="assignment-li">
                        <i class="gxb-icon-step"></i>
                    </li>
                    <li class="assignment-li">
                        <i class="gxb-icon-step"></i>
                    </li>
                    <li><i class="gxb-icon-step-end"></i>
                        <span>成绩公布</span>
                    </li>
                </ul>
            </div>
            <div class="quiz-tips">
                <div>
                   未开始
                </div>
                <div>
                    提交截止时间：<%= assignment['dueAt']%>
                </div>
                <div>
                    作业批改方式：
                </div>
                <div class="assignment-info">
                    老师批改
                </div>
                <div class="assignment-info">
                    批改开始时间：<%= assignment['dueAt']%>
                </div>
                <div class="assignment-info">
                    批改结束时间：<%= assignment['publishedAt']%>
                </div>
                <div>
                    成绩公布时间：<%= assignment['publishedAt']%>
                </div>
            </div>
            <div class="quiz-tool">
                <i class="gxb-btn gxb-btn-menu quiz-join" context_id="<%= assignment['contextId'] %>" assignment_id="<%= assignment['assignmentId'] %>">
                    查看作业
                </i>
                <% if (expireTime(assignment['dueAt'])) {%>
                <span>作业提交已截止，你可查看作业题目，但无法进行答题</span>
                <%}%>
            </div>
        </div>
        <% if(nothing(submission['score'])){ %>
        <div class="quiz-score">
            作业成绩:
            <br/>
            <span>暂无成绩，请先提交作业</span>
        </div>
        <% }else{ %>
        <div class="quiz-score">
            作业成绩（分）
            <br />
            <i class="score-publish">
                <%= submission['score'] %>
            </i>
            <i class="score-total">
                /<%= assignment['score'] %>
            </i>
        </div>
        <% } %>
    </div>


</div>