<%
var question = question || {};
var answerList = answerList || [];
var aLength = answerList.length;
%>
<div class="quiz-title">
    <i class="quiz-type"></i>
    <%= question['questionName'] %>
</div>

<div class="answer-wap"
     question_id="<%= question['questionId'] %>"
     question_type="<%= question['questionType'] %>"
        >
    <%
    for(var j = 0;j < aLength;j++){
        var answer = answerList[j];
    %>
    <div class="answer"
            >
        <i class="gxb-icon-radio"
           answer_id="<%= answer["answerId"] %>"
                ></i>
        <%= fromCharCode("A".charCodeAt() + j) %>
        <%== answer['text'] %>
    </div>
    <% } %>
</div>